@font-face {
    font-family: __DM_Sans_6ff133;
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url(./fonts/DM_Sans_6ff133.woff2) format("woff2");
}
@font-face {
    font-family: __DM_Sans_6ff133;
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url(./fonts/DM_Sans_6ff133.p.woff2) format("woff2");
}
@font-face {
    font-family: __DM_Sans_Fallback_6ff133;
    src: local("Arial");
    ascent-override: 94.37%;
    descent-override: 29.49%;
    line-gap-override: 0%;
    size-adjust: 105.12%;
}

@font-face {
    font-family: __integralCF_08aada;
    src: url(./fonts/integralCF_08aada.p.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: __integralCF_Fallback_08aada;
    src: local("Arial");
    ascent-override: 75.59%;
    descent-override: 8.79%;
    line-gap-override: 0%;
    size-adjust: 142.21%;
}

.font-mono {
    font-family: "__integralCF_08aada", "__integralCF_Fallback_08aada";
}

.font-sans {
    font-family: "__DM_Sans_6ff133", "__DM_Sans_Fallback_6ff133";
}
.w-70 {
    width: 70% !important;
}

.primary-color {
    color: #3d00b7 !important;
}

.primary-bg-color {
    background-color: #3d00b7 !important;
}

.primary-border-color {
    border-color: #3d00b7 !important;
}

.link-item:hover {
    color: #818181 !important
}